In [6]:
import pandas as pd

In [7]:
election_data = pd.read_csv('election_data.csv')
election_data.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [9]:
print('Total number of votes: ' + str(len(election_data)))

Total number of votes: 3521001

In [11]:
candidates = election_data['Candidate']
khan = []
correy = []
li = []
otooley = []

for i in range(0, len(candidates)):
    if candidates[i] == 'Khan':
        vote = 'Khan'
        khan.append(vote)
    elif candidates[i] == 'Correy':
        vote = 'Correy'
        correy.append(vote)
    elif candidates[i] == 'Li':
        vote = 'Li'
        li.append(vote)
    else:
        vote = "O'Tooley"
        otooley.append(vote)

In [12]:
khanvotes = len(khan)
correyvotes = len(correy)
livotes = len(li)
otooleyvotes = len(otooley)

In [14]:
print('Khan: ' + str(khanvotes) + ' votes, ' + str(100*(khanvotes / len(election_data))) + ' % of the popular vote')
print('Correy: ' + str(correyvotes) + ' votes, ' + str(100*(correyvotes / len(election_data))) + ' % of the popular vote')
print('Li: ' + str(livotes) + ' votes, ' + str(100*(livotes / len(election_data))) + ' % of the popular vote')
print("O'Tooley: " + str(otooleyvotes) + ' votes, ' + str(100*(otooleyvotes / len(election_data))) + ' % of the popular vote')

Khan: 2218231 votes, 63.00001050837531 % of the popular vote
Correy: 704200 votes, 19.999994319797125 % of the popular vote
Li: 492940 votes, 13.999996023857989 % of the popular vote
O'Tooley: 105630 votes, 2.999999147969569 % of the popular vote

In [15]:
print('The winner is: Khan')

The winner is: Khan