In [3]:
import pandas as pd

In [5]:
budget_data = pd.read_csv('budget_data.csv')
budget_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [16]:
num_months = len(budget_data['Date'])

In [17]:
print('The number of months in this data set is ' + str(num_months))

The number of months in this data set is 86

In [18]:
net_total = sum(budget_data['Profit/Losses'])

In [19]:
print('The net total is ' + str(net_total))

The net total is 38382578

In [35]:
money = budget_data['Profit/Losses']
change = []
for i in range (0, num_months - 1):
    l = money[i+1] - money[i]
    change.append(l)

In [36]:
print(change)

[116771, -662642, -391430, 379920, 212354, 510239, -428211, -821271, 693918, 416278, -974163, 860159, -1115009, 1033048, 95318, -308093, 99052, -521393, 605450, 231727, -65187, -702716, 177975, -1065544, 1926159, -917805, 898730, -334262, -246499, -64055, -1529236, 1497596, 304914, -635801, 398319, -183161, -37864, -253689, 403655, 94168, 306877, -83000, 210462, -2196167, 1465222, -956983, 1838447, -468003, -64602, 206242, -242155, -449079, 315198, 241099, 111540, 365942, -219310, -368665, 409837, 151210, -110244, -341938, -1212159, 683246, -70825, 335594, 417334, -272194, -236462, 657432, -211262, -128237, -1750387, 925441, 932089, -311434, 267252, -1876758, 1733696, 198551, -665765, 693229, -734926, 77242, 532869]

In [40]:
from statistics import mean
print('The average change is: ' + str(mean(change)))

The average change is: -2315

In [45]:
max_index = change.index(max(change))
min_index = change.index(min(change))
dates = budget_data['Date']

In [46]:
print('The greatest increase in profits was ' + str(max(change)) + ' in ' + str(dates[max_index]))

The greatest increase in profits was 1926159 in Jan-2012

In [47]:
print('The greatest decrease in profits was ' + str(min(change)) + ' in ' + str(dates[min_index]))

The greatest decrease in profits was -2196167 in Aug-2013